-var page = 'Help';
include ../includes/menu.jade
#content
    section#help
        h2 Help
        ul
            li Tags that are allowed but have no rules have unrestricted access.
            li Rules are additive, meaning a rule can not stop what another rule allows, either edit or remove the conflicting rule.