-var page = 'Log';
include ../includes/menu.jade
#content
    section#log
        h2 Log
        button(ng-click="resetLog()", class="btn btn-sm btn-danger") Reset
        table.table.table-striped.table-bordered.table-condensed
            tr
                th.message Message
                th.level Level
                th.category Category
                th.timestamp Time
            tr(ng-repeat="logItem in log | orderBy: 'timestamp' | reverse")
                td.message {{logItem.message}}
                td.level {{logItem.level}}
                td.category {{logItem.category}}
                td.timestamp {{logItem.timestamp | date: 'medium'}}
        p(ng-show="!log.length" ng-cloak) Log is empty
        button(ng-click="resetLog()", class="btn btn-sm btn-danger") Reset