-var page = 'Rules';
include ../includes/menu.jade
#content
    section#rules
        h2 Rules
        section#existing
            button.btn.btn-info.options(ng-click="createRuleOptionsModal()") Options
            h3 Existing Rules
            table#rules-table(ng-show="rules.length > 0").table.table-striped.table-bordered.table-condensed
                tr
                    th(ng-repeat="headerTitle in ruleTableHeaders") {{headerTitle}}
                tr.rule(ng-repeat="rule in rules | toArray | orderBy:['weight','name']")
                    td {{rule.name}}
                    td {{rule.weight}}
                    td {{ruleActiveString(rule.active)}}
                    td {{rule.rule.tag}}
                    td {{rule.rule.start | date : datetime.timeFormatter(rule.rule.start)}}
                    td {{rule.rule.end | date : datetime.timeFormatter(rule.rule.start)}}
                    td {{rule.rule.activate | date : datetime.dateFormatter(rule.rule.activate)}}
                    td {{rule.rule.expire | date : datetime.dateFormatter(rule.rule.expire)}}
                    td
                        button.btn.btn-xs.btn-warning.edit(ng-click="createRuleEditModal(rule)") Edit
                        button.btn.btn-xs.btn-danger.remove(ng-click="removeRule(rule)") X
            p(ng-show="rules.length == 0") No rules
        section#actions
            div#create
                h3 Create a Rule
                form(name="createRuleForm", ng-submit="createRule()")
                    div.required
                        label(id="newRuleName") Name
                        input.form-control(type="text", name="newRuleName", ng-model="newRule.name", ng-change="msgs.newRule.sameName = false; validateRule(newRule, 'new');", placeholder="unique string", ng-required="true")
                        span(ng-show="msgs.newRule.sameName").error Identically named rule already exists
                    div.required
                        label(id="newRuleWeight") Weight
                        input.form-control(type="number", name="newRuleWeight", ng-model="newRule.weight")
                    div.required
                        label(id="newRuleStatus") Status
                        input.form-control(type="checkbox", name="newRuleStatus", ng-model="newRule.active")
                    div.required
                        label(id="newRuleTag") Tag
                        select.form-control(name="newRuleTag", ng-model="newRule.rule.tag", ng-change="msgs.removeSelectTag = false", ng-required="true")
                            option(value="", disabled, selected) Select a tag
                            option(ng-repeat="allowedTag in allowedTags | toArray | orderBy:['name', 'tag']" value="{{allowedTag.tag}}")  {{tagObjName(allowedTag)}}
                        span(ng-show="msgs.removeSelectTag").error Select a tag to remove
                    div.required(ng-repeat="fieldName in datetime.fields", id="{{fieldName}}")
                        div
                            label(id="newRule{{fieldName | capitalize}}") {{fieldName | capitalize}}
                                span(ng-if="fieldName == 'activate' || fieldName == 'expire'")  datetime
                                span(ng-if="fieldName == 'start' || fieldName == 'end'")  time
                            input.form-control.datetime(type="text", value="{{ruleTypeValue(newRule, fieldName) | date : datetime.timeFormatter(newRule.rule[fieldName])}}", placeholder="{{datetime.timepicker.examplePlaceholder}}", ng-click="datetime.datepicker.toggle($event, fieldName, 'new', newRule)", readonly="readonly", ng-if="fieldName == 'start' || fieldName == 'end'")
                            input.form-control.datetime(type="text", value="{{ruleTypeValue(newRule, fieldName) | date : datetime.dateFormatter(newRule.rule[fieldName])}}", placeholder="{{datetime.datepicker.examplePlaceholder}}", ng-click="datetime.datepicker.toggle($event, fieldName, 'new', newRule)", readonly="readonly", ng-if="fieldName == 'activate' || fieldName == 'expire'")
                            span.input-group-btn
                                button.btn.btn-sm.btn-default(type="button", ng-click="datetime.datepicker.toggle($event, fieldName, 'new', newRule)")
                                    i.glyphicon.glyphicon-time(ng-if="fieldName == 'start' || fieldName == 'end'")
                                    i.glyphicon.glyphicon-calendar(ng-if="fieldName == 'activate' || fieldName == 'expire'")
                        div
                            span(ng-if="fieldName == 'end'", ng-show="msgs.newRule.startEndTime").error The start time is not before the end time
                            span(ng-if="fieldName == 'expire'", ng-show="msgs.newRule.activateExpireDatetime").error The activate datetime is not before the expire datetime
                        div.row
                            div.datepicker.col-sm-6.animate-show(ng-show="datetime.datepicker.datepickers.rules.new[fieldName]", ng-if="fieldName == 'activate' || fieldName == 'expire'")
                                datepicker.well.well-sm(ng-model="newRule.rule[fieldName]", close-text="Close")
                            div.timepicker.col-sm-6.animate-show(ng-show="datetime.timepicker.timepickers.rules.new[fieldName]")
                                timepicker(ng-model="newRule.rule[fieldName]", hour-step="datetime.timepicker.hstep", minute-step="datetime.timepicker.mstep", show-meridian="datetime.timepicker.ismeridian")
                    div.required
                        span(ng-show="msgs.newRule.emptyField").error There is an empty field, all fields are required.
                    input.btn.btn-success(type="submit", value="Create Rule" ng-disabled="errorsSize() > 0")
    script(type="text/ng-template", id="createRuleOptionsModal")
        div.options
            div.modal-header
                h3 Options
            div.datetime.modal-body
                h4 Datetime
                div.row
                    div.col-sm-4
                        label Hours step is:
                        select.form-control(ng-model="datetime.timepicker.hstep", ng-options="opt for opt in datetime.timepicker.options.hstep")
                    div.col-sm-4
                        label Minutes step is:
                        select.form-control(ng-model="datetime.timepicker.mstep", ng-options="opt for opt in datetime.timepicker.options.mstep")
                    div.col-sm-4
                        button.btn.btn-info(ng-click="datetime.timepicker.toggleMode()") 12H / 24H
            div.modal-footer
                button.btn.btn-primary(ng-click="ok()") OK
    script(type="text/ng-template", id="createRuleEditModal")
        div.options
            div.modal-header
                h3 Edit Rule "{{editedRule.name}}"
            div.modal-body
                div
                    label(id="editRuleName") Name
                    input.form-control.edit(type="text", ng-model="editedRule.newName")
                div
                    label(id="editRuleWeight") Weight
                    input.form-control.edit(type="number", ng-model="editedRule.weight")
                div
                    label(id="editRuleStatus") Status
                    input.form-control.edit(type="checkbox", ng-model="editedRule.active")
                div
                    label(id="editRuleTag") Tag
                    select.form-control.edit(name="editRuleTag", ng-model="editedRule.rule.tag")
                        option(ng-repeat="allowedTag in allowedTags | toArray | orderBy:['name', 'tag']" value="{{allowedTag.tag}}")  {{tagObjName(allowedTag)}}

                div.required(ng-repeat="fieldName in datetime.fields", id="{{fieldName}}")
                    div
                        label(id="editRule{{fieldName | capitalize}}") {{fieldName | capitalize}}
                            span(ng-if="fieldName == 'activate' || fieldName == 'expire'")  datetime
                            span(ng-if="fieldName == 'start' || fieldName == 'end'")  time
                        input.form-control.datetime(type="text", value="{{ruleTypeValue(editedRule, fieldName) | date : datetime.timeFormatter(fieldName)}}", ng-click="datetime.datepicker.toggle($event, fieldName, 'edit', editedRule)", readonly="readonly", ng-if="fieldName == 'start' || fieldName == 'end'")
                        input.form-control.datetime(type="text", value="{{ruleTypeValue(editedRule, fieldName) | date : datetime.dateFormatter(fieldName)}}", ng-click="datetime.datepicker.toggle($event, fieldName, 'edit', editedRule)", readonly="readonly", ng-if="fieldName == 'activate' || fieldName == 'expire'")
                        span.input-group-btn
                            button.btn.btn-sm.btn-default(type="button", ng-click="datetime.datepicker.toggle($event, fieldName, 'edit', editedRule)")
                                i.glyphicon.glyphicon-time(ng-if="fieldName == 'start' || fieldName == 'end'")
                                i.glyphicon.glyphicon-calendar(ng-if="fieldName == 'activate' || fieldName == 'expire'")
                    div
                        span(ng-if="fieldName == 'end'", ng-show="msgs.editRule.startEndTime").error The start time is not before the end time
                        span(ng-if="fieldName == 'expire'", ng-show="msgs.editRule.activateExpireDatetime").error The activate datetime is not before the expire datetime
                    div.row
                        div.datepicker.col-sm-6.animate-show(ng-show="datetime.datepicker.datepickers.rules.edit[fieldName]", ng-if="fieldName == 'activate' || fieldName == 'expire'")
                            datepicker.well.well-sm(ng-model="editedRule.rule[fieldName]", close-text="Close")
                        div.timepicker.col-sm-6.animate-show(ng-show="datetime.timepicker.timepickers.rules.edit[fieldName]")
                            timepicker(ng-model="editedRule.rule[fieldName]", hour-step="datetime.timepicker.hstep", minute-step="datetime.timepicker.mstep", show-meridian="datetime.timepicker.ismeridian")
            div.modal-footer
                button.btn.btn-primary(ng-click="ok()") Save
                button.btn.btn-warning(ng-click="cancel()") Cancel