-var page = 'Rules';
include ../includes/menu.jade
#content
    section#rules
        h2 Rules
        section#existing
            h3 Existing Rules
            table#rules-table(ng-show="rules.length > 0")
                tr
                    th(ng-repeat="headerTitle in ruleTableHeaders") {{headerTitle}}
                tr.rule(ng-repeat="rule in rules | toArray | orderBy:'weight'")
                    td {{rule.name}}
                    td {{rule.weight}}
                    td {{rule.active}}
                    td {{rule.rule.tag}}
                    td {{rule.rule.start | date : 'short'}}
                    td {{rule.rule.end| date : 'short'}}
                    td {{rule.rule.activate| date : 'short'}}
                    td {{rule.rule.expire| date : 'short'}}
                    td
                        button(ng-click="editRule(rule)", class="btn btn-sm btn-info edit") Edit
                        button(ng-click="removeRule(rule)", class="btn btn-sm btn-danger remove") X
            p(ng-show="rules.length == 0") No rules
        section#actions
            div#create
                h3 Create a Rule
                form(name="createRuleForm", ng-submit="createRule()")
                    div.required
                        label(id="newRuleName") Name
                        input.form-control(type="text", name="newRuleName", ng-model="newRule.name" ng-change="msgs.ruleSameName = false;", placeholder="unique string", ng-required="true")
                        span(ng-show="msgs.ruleSameName").error Identically named rule already exists
                    div
                        label(id="newRuleWeight") Weight
                        input.form-control(type="number", name="newRuleWeight", ng-model="newRule.weight")
                    div
                        label(id="newRuleStatus") Status
                        input.form-control(type="checkbox", name="newRuleStatus", ng-model="newRule.active")
                    div
                        label(id="newRuleTag") Tag
                        select.form-control(name="newRuleTag", ng-model="newRule.rule.tag" ng-change="msgs.removeSelectTag = false")
                            option(ng-repeat="allowedTag in allowedTags | toArray | orderBy:['name', 'tag']" value="{{allowedTag.tag}}")  {{tagObjName(allowedTag)}}
                        span(ng-show="msgs.removeSelectTag").error Select a tag to remove

                    div(ng-repeat="fieldName in datetime.fields", id="{{fieldName}}")
                        div
                            label(id="newRule{{fieldName | capitalize}}") {{fieldName | capitalize}}
                            input.form-control.datetime(type="text", ng-required="true", close-text="Close", value="{{ruleTypeValue(fieldName) | date : 'short'}}", placeholder="Example: {{datetime.examplePlaceholder}}", ng-click="datetime.datepicker.toggle($event, fieldName)", readonly="readonly")
                            span.input-group-btn
                                button(type="button", class="btn btn-sm btn-default", ng-click="datetime.datepicker.toggle($event, fieldName)")
                                    i.glyphicon.glyphicon-calendar
                        div.row
                            div.datepicker.col-sm-6.animate-show(ng-show="datetime.datepicker.datepickers[fieldName]")
                                datepicker.well.well-sm(ng-model="newRule.rule[fieldName]", close-text="Close")
                            div.timepicker.col-sm-6.animate-show(ng-show="datetime.timepicker.timepickers[fieldName]")
                                timepicker(ng-model="newRule.rule[fieldName]", hour-step="datetime.timepicker.hstep", minute-step="datetime.timepicker.mstep", show-meridian="datetime.timepicker.ismeridian")

                    input(type="submit", value="Create Rule" class="btn btn-sm btn-success")
                div.options
                    h3 Options
                    div.datetime
                        h4 Datetime
                        div.row
                            div.col-sm-4
                                label Hours step is:
                                select.form-control(ng-model="datetime.timepicker.hstep", ng-options="opt for opt in datetime.timepicker.options.hstep")
                            div.col-sm-4
                                label Minutes step is:
                                select.form-control(ng-model="datetime.timepicker.mstep", ng-options="opt for opt in datetime.timepicker.options.mstep")
                            div.col-sm-4
                                button.btn.btn-info(ng-click="datetime.timepicker.toggleMode()") 12H / 24H