-var page = 'Settings';
include ../includes/menu.jade
#content
    section#settings
        h2 Settings
        form(name="settingsForm", ng-submit="saveSettings()")
            div(ng-repeat="(name, value) in roboFeederSettings", tooltip="Length of time in milliseconds to wait without getting a {{sensorName(name)}} signal before allowing close", tooltip-placement="right")
                label {{name}}
                input.form-control(type="text", name="setting-{{name}}", ng-model="roboFeederSettings[name]", value="{{value}}")
            div.actions
                input.btn.btn-sm.btn-success(type="submit", value="Save Settings")
                button(ng-click="resetSettings()", class="btn btn-sm btn-danger") Reset Settings to Default