-var page = 'Status';
include ../includes/menu.jade
#content
    section#status
        h2 Status
        p(my-current-time="'M/d/yy h:mm:ss a'")
        ul
            li.tray Tray
              span.open(ng-show="status.open")  open
                button.btn.btn-sm.btn-danger(ng-click="close()") Close Tray
              span.closed(ng-show="!status.open")  closed
                button.btn.btn-sm.btn-success(ng-click="open()") Open Tray
            li.pir PIR sensor
                span.active(ng-show="status.pir")  online
                span.inactive(ng-show="!status.pir")  offline
            li.rfid RFID reader
                span.online(ng-show="status.rfid")  online
                span.offline.error(ng-show="!status.rfid")  offline
            li.motor Tray motor
                span.online(ng-show="status.motor")  online
                span.offline.error(ng-show="!status.motor")  offline
            li.serial Serial communication
                span.online(ng-show="status.serial")  online
                span.offline.error(ng-show="!status.serial")  offline