-var page = 'Status';
include ../includes/menu.jade
#content
    section#status
        h2 Status
        p(my-current-time="'M/d/yy h:mm:ss a'")
        ul
            li.tray Tray
              span.open(ng-show="status.open")  open
                button.btn.btn-xs.btn-danger(ng-click="close()") Close Tray
              span.closed(ng-show="!status.open")  closed
                button.btn.btn-xs.btn-success(ng-click="open()") Open Tray
            li.tray Flag
              span.open(ng-show="status.flag")  Raised
              span.closed(ng-show="!status.flag")  Lowered
              div
                  span.manual-toggle(ng-show="status.flagManualMode") Manual Mode
                    button.btn.btn-xs.btn-info(ng-click="flagModeAutomatic()") Enter Automatic Mode
                  span.manual-toggle(ng-show="!status.flagManualMode") Automatic Mode
                    button.btn.btn-xs.btn-info(ng-click="flagModeManual()") Enter Manual Mode
                  button.btn.btn-xs.btn-danger(ng-click="lowerFlag()", ng-show="status.flag && status.flagManualMode") Lower Flag
                  button.btn.btn-xs.btn-success(ng-click="raiseFlag()", ng-show="!status.flag && status.flagManualMode") Raise Flag
            li.pir PIR sensor
                span.online(ng-show="status.pir")  online
                span.offline(ng-show="!status.pir")  offline
            li.rfid RFID reader
                span.online(ng-show="status.rfid")  online
                span.offline.error(ng-show="!status.rfid")  offline
            li.motor Tray motor
                span.online(ng-show="status.motor")  online
                span.offline.error(ng-show="!status.motor")  offline
            li.serial Serial communication
                span.online(ng-show="status.serial")  online
                span.offline.error(ng-show="!status.serial")  offline
            li.servo Servo
                span.online(ng-show="status.servo")  online
                span.offline.error(ng-show="!status.servo")  offline