extends layout
block body
    div(ng-controller='AppCtrl')
        h1 RoboFeeder v
            span(app-version)
        nav.navbar.navbar-default
            div.collapse.navbar-collapse
                ul.menu.nav.navbar-nav
                    li
                        a(href='status') Status
                    li
                        a(href='tags') Tags
                    li
                        a(href='settings') Settings
                    li
                        a(href='log') Log

        div(ng-view)

        div#errors(ng-show="errors.length" ng-cloak)
            h2 Errors
            ul
                li.error(ng-repeat="error in errors") {{error}}
    script(src='js/lib/angular/angular.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')