doctype html
html(lang="en")
  head
    title!= title
    script(type='text/javascript').
      WebServer.displaySettings();
  body
    h1 RoboFeeder
    h2!= message
    #content
      section#status
        h2 Status
        #allowedTags
            h3 Allowed Tags
          ul

      section#options
        h2 Options