extends layout
block body
    div(ng-controller='AppCtrl')
        h1 RoboFeeder v
            span(app-version)
        nav.navbar.navbar-default
            div.collapse.navbar-collapse
                ul.menu.nav.navbar-nav
                    // TODO fix menu items disappear at small window widths due to bootstrap
                    li
                        a(href='status') Status
                    li
                        a(href='tags') Tags
                    li
                        a(href='settings') Settings
                    li
                        a(href='log') Log

        div(ng-view)
            
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular/angular-route.js')
    script(src='js/lib/angular/angular-resource.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-poller/0.3.2/angular-poller.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')