doctype
html(ng-app="roboFeeder")
  head
    meta(charset='utf8')
    base(href='/')
    title RoboFeeder
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body