/* app css stylesheet */
body{
    padding: 0 20px;
}
span button{
    margin: 0 10px;
}
.help-text{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding-left: 6px;
}
#log table{
    border: 1px solid #333;
}
#log table th{
    text-align: center;
}
#log table th,
#log table td{
    border: 1px solid #333;
    padding: 3px 10px;
}