/* app css stylesheet */
body{
    padding: 0 20px;
}
.navbar{
    display: inline-block;
}
span button{
    margin: 0 10px;
}
#tags #authorize label{
    width: 80px;
}
#tags #authorize input[type="submit"],
#tags #remove button{
    display: block;
    margin-top: 10px;
}
#removeTag{
    min-width: 150px;
}
.help-text{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding-left: 6px;
}
ul{
    list-style-type: none;
    padding-left: 20px;
}
#status ul li{
    padding: 5px 0;
}
#status button.btn-sm{
    padding: 5px 7px;
}
#log table{
    border: 1px solid #333;
}
#log table th{
    text-align: center;
}
#log table th,
#log table td{
    border: 1px solid #333;
    padding: 3px 10px;
}
#log button,
#settings input[type="submit"]{
    margin: 10px 0;
}
#settings button{
    margin: 10px;
}
.selected{
    font-weight: bold;
}
.navbar-nav,
.navbar-nav>li{
    float: left;
    margin: 0;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}
.error{
    color: #e32;
    font-weight: bold;
    padding-left: 10px;
}
#content section h2{
    margin-top: 0;
}
#settings label{
    padding-right: 10px;
}