/* app css stylesheet */
.nav,
.pagination,
.carousel,
.panel-title a{
    cursor: pointer;
}
body{
    padding: 0 20px 20px;
}
.navbar{
    display: inline-block;
}
span button{
    margin: 0 10px;
}
#tags #authorize label{
    width: 80px;
}
#tags #authorize input[type="submit"],
#tags #remove button{
    display: block;
    margin-top: 10px;
}
#removeTag{
    min-width: 150px;
}
.help-text{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding-left: 6px;
}
ul{
    list-style-type: none;
    padding-left: 20px;
}
#status ul li{
    padding: 5px 0;
}
#status button.btn-sm{
    padding: 5px 7px;
}
#rules table th,
#rules table td,
#log table th,
#log table td{
    text-align: center;
}
#log table td.message{
    text-align: left;
}
#rules button.edit{
    margin: 0 10px 0 0;
}
#rules input[type="submit"],
#log button,
#settings input[type="submit"]{
    margin: 10px 0;
}
#settings button{
    margin: 10px;
}
.selected{
    font-weight: bold;
}
.navbar-nav,
.navbar-nav>li{
    float: left;
    margin: 0;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}
.error{
    color: #e32;
    font-weight: bold;
    padding-left: 10px;
}
#content section h2{
    margin-top: 0;
}
#settings label{
    padding-right: 10px;
}
.form-control{
    display: inline-block;
    margin: 3px 5px;
    width: auto;
}
.input-group-btn{
    display: inline-block;
}
.datepicker{
    display: inline-block;
}
.timepicker input{
    width: 50px;
}
#create form{
    padding: 10px 20px;
}
label[id^="newRule"]{
    padding-right: 5px;
}
input[type=checkbox].form-control{
    vertical-align: bottom;
    height: 30px;
}
.animate-show {
    opacity: 1;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.animate-show.ng-hide {
    opacity: 0;
}
#rules button.options{
    float: right;
}
#rules-table{
    margin-top: 15px;
}
input[type="number"].form-control{
    width: 70px;
}
.error-container small{
    display: block;
}

